/* Navbar */
body {
  padding-top: 150px;
}

nav {
    background: rgba(0, 23, 32, 0.75)!important;
}
.navbar {
  height: 150px;
}
.container{
  height: 150px;
}
.navbar-brand {
  font-size: 80px;
  padding: 30px 10px;
}
.navbar .container ul {
  height: 150px;
}
.navbar .container li {
  height: 150px;
}
.navbar .container a {
  height: 150px;
}
.navbar .container ul a {
  padding: 40px 30px;
}
/* Shrink */
nav.navbar.shrink {
  background: rgba(0, 23, 32, 0.9)!important;
    height: 50px;
}
.shrink .container{
  height: 50px;
}
.shrink .navbar-brand {
  font-size: 40px;
  padding: 10px 15px;
}
.shrink .container ul {
  height: 50px;
}
.shrink .container li {
  height: 50px;
}
.shrink .container a {
  height: 50px;
}
.shrink .container ul a {
  padding: 10px 15px;
}
